@import "../../../../style/colors.module";
@import "../../../../style/mixins.module";

:local {
  .hiText {
    @include fontFam(monte, 38px, unset, $off-white);
    padding-top: 30px;
  }

  .name {
    @include fontFam(monte, 58px, bold, $main-purple);
    text-shadow: 1px 2px 2px white;
  }

  .description {
    @include fontFam(monte, 16px, 100, $off-white, 28px, 1px);
    padding: 23px 0px 0px 2px;
  }
}
