* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
}

@keyframes navSlideDown {
  from {
    height: 0px;
  }

  to {
    height: 320px;
  }
}

@keyframes navSlideUp {
  from {
    height: 320px;
  }

  to {
    height: 0px;
  }
}
