@import "../../style/mixins.module";
@import "../../style/colors.module";

:local {
  .container {
    @include pos(relative, $left: 50%);
    transform: translateX(-50%);
    margin: 30px 0px 50px 0px;
    text-align: center;
    display: inline-block;
    border-bottom: 10px solid black;
    border-bottom-style: double;

    @include mq(tablet, max) {
      margin: 12px 0px;
    }
  }

  .title {
    @include fontFam(amita, 50px, bold, unset);

    @include mq(tablet, max) {
      font-size: 40px;
    }
  }

  .square {
    @include pos(absolute, unset, unset, -20px, -30px);
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: $main-purple;
  }

  .icon {
    @include pos(absolute, unset, -47px, -29px);
    border: 3px solid black;
    border-radius: 50%;
    padding: 2px;
    font-size: 40px;
    color: $main-purple;
  }

  .lightColorContainer {
    color: $st-bright-color;
    border-color: $st-bright-color;
  }

  .lightIcon {
    border-color: $st-bright-color;
  }
}
