@import "../../style/colors.module";
@import "../../style/mixins.module";
@import "../../style/variables.module";

:local {
  .container {
    height: calc(100vh - #{$navbar-height});
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../style/img/wall.jpeg");
    background-size: cover;
    background-position: center;

    @include mq(tablet, max) {
      min-height: 100vh;
    }
  }

  .header {
    @include pos(absolute, 25%);
    width: 60vw;

    @include mq(tablet, max) {
      @include pos(absolute, 10%, unset, unset, 20%);
    }
  }
}
