/*---------------------------------------------*/
/* BASIC SETUP
/*---------------------------------------------*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;

	/* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/wall.jpeg);
	background-size: cover;
	background-attachment: fixed; */
}

.f-Amita {
	font-family: 'Amita', cursive;
}

.f-Roboto {
	font-family: 'Roboto', sans-serif;
}

.f-Montserrat {
	font-family: 'Montserrat', sans-serif;
}

.f-Charmonman {
	font-family: 'Charmonman', cursive;
}

/*---------------------------------------------*/
/* NAV BAR
/*---------------------------------------------*/
.nav-container {
	color: #f0f0f0;
	background-color: #1c1b1b;
	box-shadow: 0px 0px 13px 0px rgba(38, 37, 39, 0.555);
}

.nav-content {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.nav-header {
	position: relative;
	cursor: pointer;
}

.nav-header h6 {
	font-family: 'Charmonman', cursive;
	font-size: 35px;
	font-weight: bold;
	margin: 0;
}

.nav-header .nav-h {
	position: absolute;
	top: 18px;
	left: 4px;
	font-size: 35px;
	font-weight: bold;
	color: rgb(192, 120, 214);
}

.bn-links ul {
	list-style: none;
	display: flex;
	margin: 0;
}

.bn-links ul li {
	font-family: 'Montserrat', sans-serif;
	margin: 0 15px;
	margin-top: 8px;
	cursor: pointer;
	transition: 0.5s;
	text-align: center
}

.bn-links ul li h6 {
	margin-bottom: 4px;
}

.sn-container i {
	font-size: 20px;
	transform: translateY(50%);
}

.sn-menu-container {
	z-index: 2;
	position: absolute;
	left: 0px;
	width: 100%;
	background-color: #333333;
	overflow: hidden;
}

.sn-menu-container div {
	height: 80px;
	text-align: center;
	padding: 25px 0;
	border-bottom: 1px solid #888787;
}

.sn-menu-container div h6 {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

@keyframes navSlideDown {
	from {
		height: 0px;
	}

	to {
		height: 240px;
	}
}

@keyframes navSlideUp {
	from {
		height: 240px;
	}

	to {
		height: 0px;
	}
}

/*---------------------------------------------*/
/* HEADER
/*---------------------------------------------*/
.h-container {
	height: calc(100vh - 82px);
	/* height: 700px; */
	overflow: hidden;
	width: 100vw;
	position: relative;

	background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/wall.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.h-header {
	position: absolute;
	top: 25%;
	/* left: 20%; */
	width: 60vw;
}

.h-header h6 {
	font-size: 38px;
	font-family: 'Montserrat', sans-serif;
	color: #eeeeee
}

.h-hi {
	font-size: 66px !important;
	font-weight: bold;
	text-shadow: 1px 2px 2px rgb(255, 255, 255);
	color: rgb(192, 120, 214) !important;
}

.h-name {
	padding-top: 28px;
}

.h-des {
	padding-top: 23px;
	padding-left: 2px;
	font-size: 16px !important;
	line-height: 28px;
	letter-spacing: 0.5px;
	font-weight: 100;
	color: #333333
}

.h-photo {
	max-width: 300px;
	-webkit-filter: brightness(100%);
					filter: brightness(100%);
	-o-object-fit: cover;
		 object-fit: cover;
	
	position: absolute;
	top: 0px;
	left: 0px;
}

.h-btn {
	/* display: flex; */
	margin-top: 45px;
}

.h-about,
.h-portfolio {
	border-radius: 5px;
	padding: 8px 20px;
	margin-right: 10px;
	cursor: pointer;
	font-family: 'Amita', cursive;
	box-shadow: 0px 0px 8px 0px rgba(199, 199, 199, 0.308);
}

.h-about {
	border: 2px solid rgb(192, 120, 214);
	color: white;
	background-color: rgb(192, 120, 214)
}

.h-portfolio {
	border: 2px solid #eeeeee;
	color: #eeeeee;
}

/*---------------------------------------------*/
/* Component Title
/*---------------------------------------------*/
.ct-container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	display: inline-block;
	border-bottom: 10px solid black;
	border-bottom-style: double;
}

.ct-container h6 {
	font-size: 50px;
	font-family: 'Amita', cursive;
	font-weight: bold;
}

.ct-square {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: -20px;
	left: -30px;
	-ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  				transform: rotate(45deg);
	background-color: rgb(192, 120, 214);
}

.ct-container svg {
	position: absolute;
	bottom: -20px;
	left: -20px;
	transform: rotate(-90deg)
}

.ct-container i {
	position: absolute;
	right: -47px;
	bottom: -29px;
	border: 3px solid black;
	border-radius: 50%;
	padding: 2px;
	color: rgb(192, 120, 214)
}

/*---------------------------------------------*/
/* ABOUT
/*---------------------------------------------*/
.a-container {
	background-image:  url(../img/about_wall.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.a-container .container {
	padding-top: 30px;
}

.a-container .container .row {
	padding-top: 60px;
}

.a-personal-i {
	text-align: right;
}

.a-personal-i img {
	width: 60%;
	max-width: 270px;
	border-radius: 50%;
	text-align: right;
	margin: 12px 0px;
}

.a-personal-text h2 {
	margin-top: 20px;
	font-family: 'Charmonman', cursive;
}

.a-personal-text p {
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.a-focus {
	font-weight: bold
}

.a-focus span {
	font-weight: 100
}

.a-leaf-border {
	max-width: 120px;
	transform: rotateX(40deg);
	position: absolute;
	opacity: 0.2;
}

.a-follow a,
.a-follow a:active,
.a-follow a:link,
.a-follow a:visited {
	text-decoration: none;
	color: black;
}

.a-follow i {
	font-size: 30px;
	padding-right: 10px;
	opacity: 0.6;
	cursor: pointer;
}

.a-follow i.fa-github:hover {
	opacity: 1;
	color: #24292e;
}

.a-follow i.fa-linkedin:hover {
	opacity: 1;
	color: #0077b5;
}

.a-follow i.fa-facebook:hover {
	opacity: 1;
	color: #3b5998 ;
}

/*---------------------------------------------*/
/* Experience
/*---------------------------------------------*/
.e-container {
	/* height: calc(100vh); */
	min-height: 700px;
	background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.e-container .container {
	padding-top: 30px;
	height: 100%;
	position: relative;
}

.e-yearSlider {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
	color: #eeeeee
}

/*---------------------------------------------*/
/* Experience Board
/*---------------------------------------------*/
.eb-container {
	position: absolute;
	color: black;
	margin: 30px 30px;
	border: 1px solid #ebebeb;
	height: 400px;
	background-color: #ebebeb;
	border-radius: 10px;
	box-shadow: 2px 2px 13px 2px rgba(255, 255, 255, 0.623);
	transition: 0.5s;
}

.eb-title {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid rgb(233, 183, 248);
	width: 80%;
	text-align: center;
	background-color: rgb(245, 222, 242);
	color: black;
	box-shadow: 0px 0px 13px 0px rgba(199, 199, 199, 0.623);
	border-radius: 10px;
}

.eb-title img {
	position: absolute;
	max-width: 110px;
	left: 20px;
	top: -20px;
}

.eb-company {
	padding: 0px 30px;
	padding-top: 10px;
	font-size: 26px;
	font-family: 'Charmonman', cursive;
}

.eb-designation {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding-bottom: 5px;
}

.eb-content {
	position: relative;
	top: 80px;
}

.eb-head-sentence {
	font-size: 13px;
	padding: 20px 40px;
	font-family: 'Montserrat', sans-serif;
}

.eb-jdHeader {
	font-size: 14px;
	padding: 5px 40px;
	margin: 0;
	font-weight: bold;
	font-family: 'Amita', cursive;
}

.eb-content ul {
	padding: 5px 60px;
}

.eb-content ul li {
	list-style: unset;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #2F0743
}

.eb-footer {
	position: absolute;
	right: 12px;
	bottom: 5px;
	text-align: right;
}

.eb-location {
	margin: 0;
	font-style: italic
}

.eb-time {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Amita', cursive;
	margin: 0;
	color: rgb(95, 58, 114)
}

/*---------------------------------------------*/
/* YEAR SLIDER
/*---------------------------------------------*/
.ys-slider {
	position: relative;
	-webkit-appearance: none;
	width: 80%;
 	max-width: 1000px;
  height: 15px;
  border-radius: 10px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
	transition: opacity .2s;
	z-index: 8;
}

.ys-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.ys-slider:hover::-webkit-slider-thumb {
	box-shadow: 0px 0px 30px 5px rgba(207, 207, 207, 0.795);
}

.ys-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
	border-radius: 50%; 
	background: rgb(202, 136, 223);
	cursor: pointer;
	z-index: 8;
}

.ys-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.ys-ms-marker {
	position: absolute;
  width: 40px;
  height: 40px;
	border-radius: 50%; 
	top: -9.5px;
	/* left: 65px; */
	background: rgb(117, 117, 117);
	border: none;
	opacity: 0.2;
}

.ys-ms-logo {
	position: absolute;
	height: 40px;
	border-radius: 50%;
	top: -60px;
	background-color: white;
}

.ys-ms-fromYear {
	color: white;
	font-size: 20px;
	top: 32px;
	position: absolute;
	opacity: 0.3;
}

/*---------------------------------------------*/
/* ABOUT
/*---------------------------------------------*/

.education-background h2,
.work-experience h2{
	text-align: center;
	padding-top: 1%
}

.education-background {
	max-width: 80%;
	margin: 0 auto;
}

.work-experience {
	width: 100%;
	margin: 0 auto;
	/*background-color: rgba(185, 185, 185, 0.28);
	color: rgb(255, 255, 255);*/
	background-color: azure;
	color: #1c1b1b;
}

.first-col {
	width: 200px;
	text-align: right;
	padding-top: 1.3%;
	font-family: 'Montserrat';
	font-size: 90%;
}

/*---------------------------------------------*/
/* PROJECTS
/*---------------------------------------------*/

.projects {
	max-width: 80%;
	margin: 0 auto;
}

.projects ul {
	list-style: none;
}

.projects img {
	width: 110%;
	border-radius: 5%;
}

/*---------------------------------------------*/
/* CONTACT
/*---------------------------------------------*/

.contact {
	max-width: 70%;
	margin: 0 auto;
}

.contact ul {
	list-style: none;
	font-size: 100%;
}

.contact ul i {
	padding-right: 10px;
}
