/*---------------------------------------------*/
/* BASIC SETUP
/*---------------------------------------------*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	color: #f0f0f0;
	overflow-x: hidden;

	/* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/background_header.jpeg);
	background-size: cover;
	background-attachment: fixed; */
}

.f-Amita {
	font-family: 'Amita', cursive;
}

.f-Roboto {
	font-family: 'Roboto', sans-serif;
}

.f-Montserrat {
	font-family: 'Montserrat', sans-serif;
}

.f-Charmonman {
	font-family: 'Charmonman', cursive;
}

/*---------------------------------------------*/
/* NAV BAR
/*---------------------------------------------*/
.nav-container {
	background-color: #1c1b1b;
	box-shadow: 0px 0px 13px 0px rgba(38, 37, 39, 0.555);
}

.nav-content {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.nav-header h6 {
	font-family: 'Charmonman', cursive;
	font-size: 35px;
	margin: 0;
}

.bn-links ul {
	list-style: none;
	display: flex;
	margin: 0;
}

.bn-links ul li {
	font-family: 'Montserrat', sans-serif;
	margin: 0 15px;
	margin-top: 8px;
	cursor: pointer;
	transition: 0.5s;
	width: 65px;
	text-align: center
}

.bn-underline {
	width: 0px;
	transition: 0.5s;
}

.bn-links ul li h6 {
	margin-bottom: 4px;
}

.sn-container i {
	font-size: 20px;
	transform: translateY(50%);
}

.sn-menu-container {
	position: absolute;
	left: 0px;
	width: 100%;
	background-color: #333333;
	overflow: hidden;
}

.sn-menu-container div {
	height: 80px;
	text-align: center;
	padding: 25px 0;
	border-bottom: 1px solid #888787;
}

.sn-menu-container div h6 {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

@keyframes navSlideDown {
	from {
		height: 0px;
	}

	to {
		height: 240px;
	}
}

@keyframes navSlideUp {
	from {
		height: 240px;
	}

	to {
		height: 0px;
	}
}

/*---------------------------------------------*/
/* HEADER
/*---------------------------------------------*/

.header h1 {
	letter-spacing: 2px;
	margin-top: 5%;
	padding-bottom: 2%;
	text-align: center;
	font-size: 500%;
	font-family: 'Charmonman', Recursive, Arial;
}

.header ul {
	margin-top: 2%;
	text-align: center;
}

.header ul:after {
	width: 60%;
	margin-left: 20%;
	content: "";
	display: block;
	border-top: 1px solid white;
	margin-top: 1%;
}

.header ul a {
	font-size: 80%;
	padding-left: 30px;
	padding-right: 30px;
	display: inline ;
	font-family: Montserrat;
	transition: color 0.2s, font-size 0.4s;
}

.header ul a:link,
.header ul a:visited {
	text-decoration: none;
	color: #d1d1d1;
}

.header ul a:hover,
.header ul a:active {
	font-size: 150%;
	color: white;
}

.header li {
	letter-spacing: 1px;
	display: inline-block;
}


/*---------------------------------------------*/
/* SUMMARY INFO
/*---------------------------------------------*/
.summary-photo {
	padding-top: 10px;
	padding-right: 50px;
	letter-spacing: 1px;
	text-align: right;
	vertical-align: center;
}

.summary-photo img {
	border-radius: 50%;
	/*transition: all .2s ease-in-out;*/
	transition: transform 2s;
}

.summary-photo img:hover {
	/*transform: scale(1.2);*/
	transform: rotate(360deg);
}

.summary-photo h4 {
	font-family: 'Charmonman', Recursive, Arial;
	font-size: 110%;
	margin-top: 20px;
}


.summary-brief {
	padding-top: 30px;
}

.summary-brief p {
	max-width: 80%;
}

/*---------------------------------------------*/
/* ABOUT
/*---------------------------------------------*/

.education-background h2,
.work-experience h2{
	text-align: center;
	padding-top: 1%
}

.education-background {
	max-width: 80%;
	margin: 0 auto;
}

.work-experience {
	width: 100%;
	margin: 0 auto;
	/*background-color: rgba(185, 185, 185, 0.28);
	color: rgb(255, 255, 255);*/
	background-color: azure;
	color: #1c1b1b;
}

.first-col {
	width: 200px;
	text-align: right;
	padding-top: 1.3%;
	font-family: 'Montserrat';
	font-size: 90%;
}

/*---------------------------------------------*/
/* PROJECTS
/*---------------------------------------------*/

.projects {
	max-width: 80%;
	margin: 0 auto;
}

.projects ul {
	list-style: none;
}

.projects img {
	width: 110%;
	border-radius: 5%;
}

/*---------------------------------------------*/
/* CONTACT
/*---------------------------------------------*/

.contact {
	max-width: 70%;
	margin: 0 auto;
}

.contact ul {
	list-style: none;
	font-size: 100%;
}

.contact ul i {
	padding-right: 10px;
}