/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*---------------------------------------------*/
  /* NAV BAR
  /*---------------------------------------------*/
  .bn-links ul li:hover .bn-underline {
    width: 65px;
    background: rgb(192, 120, 214);
    height: 2px;
    border-radius: 1px;
  }

  .bn-links ul li:hover h6 {
    color: rgb(192, 120, 214);
  }

  .h-about:hover{
    background-color: #e2e2e2;
    color: black;
  }

  .h-portfolio:hover {
    background-color: #e2e2e2;
    color: rgb(192, 120, 214);
  }

  .h-about:active{
    box-shadow: inset 0px 0px 8px 0px rgba(73, 73, 73, 0.74);
  }

  .h-portfolio:active {
    box-shadow: inset 0px 0px 8px 0px rgba(73, 73, 73, 0.74);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}