@media (max-width: 767px) {
  .h-container {
    min-height: 100vh;
  }

  .h-header {
    top: 10%;
    left: 20%;
    width: 60vw;
  }
  
  .h-about,
  .h-portfolio {
    display: block;
    margin: 15px 0;
  }

  .ct-container {
    margin: 12px 0px;
  }

  .ct-container h6 {
    font-size: 40px;
  }

  .a-container {
    height: auto;
    background-position-y: 34%;
  }

  .a-container .container .row {
    padding-top: 0px;
  }

  .a-personal-i {
    text-align: center;
  }
  
  .a-personal-text {
    text-align: center;
    padding: 20px 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*---------------------------------------------*/
  /* NAV BAR
  /*---------------------------------------------*/
  .bn-links ul li .bn-underline {
    width: 0px;
    transition: 0.5s;
    background: rgb(192, 120, 214);
    height: 2px;
    border-radius: 1px;
  }

  .bn-links ul li:hover .bn-underline {
    /* width: 65px; */
    width: 100%;
    background: rgb(192, 120, 214);
  }

  .bn-links ul li h6 {
    color: white;
    transition: 0.8s 
  }

  .bn-links ul li:hover h6 {
    color: rgb(192, 120, 214);
  }

  .h-about:hover{
    background-color: #e2e2e2;
    color: black;
  }

  .h-portfolio:hover {
    background-color: #e2e2e2;
    color: rgb(192, 120, 214);
  }

  .h-about:active{
    box-shadow: inset 0px 0px 8px 0px rgba(73, 73, 73, 0.74);
  }

  .h-portfolio:active {
    box-shadow: inset 0px 0px 8px 0px rgba(73, 73, 73, 0.74);
  }

  .h-about,
  .h-portfolio {
    display: inline-block;
  }

  .eb-company {
    padding: 10px 0px;
    padding-left: 80px;
    margin: 0;
    font-size: 22px;
  }

  .eb-designation {
    font-size: 16px;
    padding-left: 115px;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}