@media (max-width: 767px) {
  .p-container {
    overflow: hidden;
  }

  .pd-devices img {
    width: 100%;
  }

  .pd-detail {
    margin: 0 20px;
  }

  .pd-techLogo,
  .pd-tech,
  .pd-view {
    margin-left: 10px;
  }

  .pd-devices {
    padding: 10px 0;
  }
  
  .p-pc-container {
    margin: 10px 30px;
    height: auto;
  }

  .p-pc-container p,
  .p-pc-container div {
    display: none;
  }

  .p-pt-ic {
    display: none;
  }

  .p-container .container .row  {
    margin-top: 10px;
  }

  .p-pt-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .p-pt-vc {
    margin-top: 10px;
    position: relative;
    top: 10px;
    left: 0px;
    width: 200px;
  }

  .c-c-i {
    top: 120px;
  }

  .c-logo {
    bottom: 90px;
  }

  .c-c-i i {
    margin: 0 20px;
    padding: 20px 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
/* 
  .ys-ms-logo:hover,
  .ys-ms-fromYear:hover {
    opacity: 1 !important;
  } */

  .p-pc-container:hover {
    top: -10px;
    -webkit-box-shadow: 10px 15px 20px 3px #460442;
            box-shadow: 10px 15px 20px 3px #460442;
  }
  
  .p-pc-container:hover::after {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .p-pc-container:hover::before {
    background-color: rgba(2, 2, 2, 0.25);
  }

  .p-pt-vc:hover::before {
    width: 180px;
  }

  
  .c-btn-back:hover::before {
    -webkit-animation: borderRun 2s infinite alternate;
            animation: borderRun 2s infinite alternate;
  }

  @-webkit-keyframes borderRun {
    from {
      border: 4px solid #b99cf3;
    }
    to {
      border: 4px solid #a324ec;
    }
  }

  @keyframes borderRun {
    from {
      border: 4px solid #b99cf3;
    }
    to {
      border: 4px solid #a324ec;
    }
  }
  
  .c-c-i i:hover {
    color: white;
  }

  .c-c-i i:active {
    -webkit-box-shadow: inset 0px 0px 1px 3px rgb(41, 18, 53);
            box-shadow: inset 0px 0px 1px 3px rgb(41, 18, 53);
  }

  .c-c-i i:hover::after {
    left: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .eb-container {
    height: 340px;
  }

  .eb-head-sentence {
    padding: 10px 40px;
    margin: 0;
  }

  .eb-content ul li {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .eb-container {
    height: 400px;
  }

  .eb-head-sentence {
    padding: 20px 40px;
    margin: 0;
  }

  .eb-content ul li {
    font-size: 14px;
    line-height: 25px;
  }
}


@media (min-height: 880px) {
  .e-yearSlider {
    bottom: 60px;
    margin-bottom: 60px;
  }

  .eb-container {
    height: 400px;
  }
}