/*---------------------------------------------*/
/* BASIC SETUP
/*---------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
}

/*---------------------------------------------*/
/* NAV BAR
/*---------------------------------------------*/
/* .nav-container {
  background-color: #1c1b1b;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(38, 37, 39, 0.555);
          box-shadow: 0px 0px 13px 0px rgba(38, 37, 39, 0.555);
}

.nav-container .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  padding: 20px 0;
}

.nav-container .nav-content .nav-header {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  cursor: pointer;
}

.nav-container .nav-content .nav-header h6 {
  color: #f0f0f0;
  font-family: 'Charmonman', cursive;
  font-size: 35px;
  font-weight: bold;
  color: off-white;
  line-height: unset;
  letter-spacing: unset;
  color: #f0f0f0;
  margin: 0;
}

.nav-container .nav-content .nav-header h6.nav-h {
  position: absolute;
  top: 18px;
  right: unset;
  bottom: unset;
  left: 4px;
  color: #c078d6;
}

.nav-container .nav-content .bn-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav-container .nav-content .bn-links ul li {
  margin: 8px 15px 0px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.nav-container .nav-content .bn-links ul li h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: unset;
  font-weight: unset;
  color: off-white;
  line-height: unset;
  letter-spacing: unset;
  color: #f0f0f0;
  margin-bottom: 4px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.nav-container .nav-content .bn-links ul li .bn-underline {
  width: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #c078d6;
  height: 3px;
  border-radius: 1px;
}

@media only screen and (min-width: 768px) {
  .nav-container .nav-content .bn-links ul li:hover .bn-underline {
    width: 100%;
    background-color: #c078d6;
  }
  .nav-container .nav-content .bn-links ul li:hover h6 {
    color: #c078d6;
  }
}

.nav-container .nav-content .sn-container {
  color: #f0f0f0;
}

.nav-container .nav-content .sn-container i {
  font-size: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.nav-container .nav-content .sn-container .sn-menu-container {
  z-index: 2;
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: 0px;
  width: 100%;
  background-color: #333333;
  overflow: hidden;
}

.nav-container .nav-content .sn-container .sn-menu-container div {
  height: 80px;
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid #888787;
}

.nav-container .nav-content .sn-container .sn-menu-container div h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: unset;
  color: off-white;
  line-height: unset;
  letter-spacing: unset;
  color: #f0f0f0;
  margin: 0;
}

@-webkit-keyframes navSlideDown {
  from {
    height: 0px;
  }
  to {
    height: 320px;
  }
}

@keyframes navSlideDown {
  from {
    height: 0px;
  }
  to {
    height: 320px;
  }
}

@-webkit-keyframes navSlideUp {
  from {
    height: 320px;
  }
  to {
    height: 0px;
  }
}

@keyframes navSlideUp {
  from {
    height: 320px;
  }
  to {
    height: 0px;
  }
} */

/*---------------------------------------------*/
/* HEADER
/*---------------------------------------------*/
.h-container {
  height: calc(100vh - 82px);
  overflow: hidden;
  width: 100vw;
  position: relative;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/wall.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/wall.jpeg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .h-container {
    min-height: 100vh;
  }
}

.h-container .h-header {
  position: absolute;
  top: 25%;
  right: unset;
  bottom: unset;
  left: unset;
  width: 60vw;
}

@media only screen and (max-width: 767px) {
  .h-container .h-header {
    position: absolute;
    top: 10%;
    right: unset;
    bottom: unset;
    left: 20%;
    width: 60vw;
  }
}

.h-container .h-header h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: unset;
  color: off-white;
  line-height: unset;
  letter-spacing: unset;
  color: #f0f0f0;
}

.h-container .h-header h6.h-hi {
  font-family: "Montserrat", sans-serif;
  font-size: 66px;
  font-weight: bold;
  color: main-purple;
  line-height: unset;
  letter-spacing: unset;
  color: #c078d6;
  text-shadow: 1px 2px 2px white;
}

.h-container .h-header h6.h-name {
  padding-top: 30px;
}

.h-container .h-header h6.h-des {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: off-white;
  line-height: 28px;
  letter-spacing: 1px;
  color: #f0f0f0;
  padding: 23px 0px 0px 2px;
}

.h-container .h-header .h-btn {
  margin-top: 45px;
}

.h-container .h-header .h-btn .h-about,
.h-container .h-header .h-btn .h-portfolio {
  font-family: "Amita", cursive;
  font-size: 16px;
  font-weight: unset;
  color: off-white;
  line-height: unset;
  letter-spacing: unset;
  color: #f0f0f0;
  display: inline-block;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(199, 199, 199, 0.308);
  box-shadow: 0px 0px 8px 0px rgba(199, 199, 199, 0.308);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .h-container .h-header .h-btn .h-about,
  .h-container .h-header .h-btn .h-portfolio {
    display: block;
    margin: 15px 0;
  }
}

@media only screen and (min-width: 768px) {
  .h-container .h-header .h-btn .h-about:active,
  .h-container .h-header .h-btn .h-portfolio:active {
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(73, 73, 73, 0.74);
    box-shadow: inset 0px 0px 8px 0px rgba(73, 73, 73, 0.74);
  }
}

.h-container .h-header .h-btn .h-about {
  border: 2px solid #c078d6;
  background-color: #c078d6;
}

@media only screen and (min-width: 768px) {
  .h-container .h-header .h-btn .h-about:hover {
    background-color: #ae71c0;
  }
}

.h-container .h-header .h-btn .h-portfolio {
  border: 2px solid #f0f0f0;
}

@media only screen and (min-width: 768px) {
  .h-container .h-header .h-btn .h-portfolio:hover {
    background-color: #f0f0f0;
    color: #c078d6;
  }
}

.h-light-container {
  position: absolute;
  top: -20px;
  right: 60px;
  bottom: unset;
  left: unset;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  font-size: 180px;
  -webkit-filter: blur(2px) brightness(100%);
  filter: blur(2px) brightness(100%);
  color: #f0f0f0;
}

.h-light-container i {
  opacity: 0.1;
}

@media only screen and (max-width: 767px) {
  .h-light-container {
    position: absolute;
    top: -25px;
    right: 30px;
    bottom: unset;
    left: unset;
    font-size: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .h-light-container:hover {
    -webkit-filter: blur(0px) brightness(200%);
    filter: blur(0px) brightness(200%);
  }
  .h-light-container:hover i {
    opacity: 1;
    text-shadow: 0.1vw 0vw 0.25vw #fac0ff, 0.2vw 0vw 0.25vw #fac0ff,
      0.4vw 0vw 0.25vw #fac0ff, 0.1vw 0vw 0vw #f588ff, 0.2vw 0vw 0vw #f588ff,
      0.4vw 0vw 0vw #f588ff, 0.1vw 0vw 0.1vw #f588ff, 0.2vw 0vw 0.1vw #f588ff,
      0.4vw 0vw 0.1vw #f588ff, 0.1vw 0vw 2vw #f588ff, 0.2vw 0vw 2vw #f588ff,
      0.4vw 0vw 2vw #f588ff, 0.1vw 0vw 1vw #ea00ff, 0.2vw 0vw 1vw #ea00ff,
      0.4vw 0vw 5vw #ea00ff, 0.1vw 0vw 10vw #ea00ff, 0.2vw 0vw 35vw #ea00ff,
      0.4vw 0vw 10vw #ea00ff, 0.1vw 0vw 20vw #ea00ff, 0.2vw 0vw 45vw #ea00ff,
      0.4vw 0vw 30vw #ea00ff;
  }
}

/*---------------------------------------------*/
/* Component Title
/*---------------------------------------------*/
/*---------------------------------------------*/
/* ABOUT
/*---------------------------------------------*/
.a-container {
  background-image: url(../img/about_wall.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .a-container {
    height: auto;
    background-position-y: 30%;
  }
}

.a-container .container {
  padding-top: 30px;
}

.a-container .container .row {
  padding-top: 60px;
}

@media only screen and (max-width: 767px) {
  .a-container .container .row {
    padding-top: 0px;
  }
}

.a-container .container .row .a-personal-i {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .a-container .container .row .a-personal-i {
    text-align: center;
  }
}

.a-container .container .row .a-personal-i img {
  width: 60%;
  max-width: 270px;
  border-radius: 50%;
  text-align: right;
  margin: 12px 0px;
}

@media only screen and (max-width: 767px) {
  .a-container .container .row .a-personal-text {
    text-align: center;
    padding: 20px 40px;
  }
}

.a-container .container .row .a-personal-text h2 {
  font-family: "Charmonman", cursive;
  font-size: 30px;
  font-weight: unset;
  color: black;
  line-height: unset;
  letter-spacing: unset;
}

.a-container .container .row .a-personal-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: unset;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  text-shadow: 1px 1px 2px white;
}

.a-container .container .row .a-personal-text .a-focus {
  font-weight: bold;
}

.a-container .container .row .a-personal-text .a-focus span {
  font-weight: 100;
}

.a-container .container .row .a-personal-text .a-follow a,
.a-container .container .row .a-personal-text .a-follow a:active,
.a-container .container .row .a-personal-text .a-follow a:link,
.a-container .container .row .a-personal-text .a-follow a:visited {
  text-decoration: none;
  color: black;
}

.a-container .container .row .a-personal-text .a-follow i {
  font-size: 30px;
  padding-right: 10px;
  opacity: 0.6;
  cursor: pointer;
}

.a-container .container .row .a-personal-text .a-follow i.fa-github:hover {
  opacity: 1;
  color: #24292e;
}

.a-container .container .row .a-personal-text .a-follow i.fa-linkedin:hover {
  opacity: 1;
  color: #0077b5;
}

.a-container .container .row .a-personal-text .a-follow i.fa-facebook:hover {
  opacity: 1;
  color: #3b5998;
}

/*---------------------------------------------*/
/* Falling Leafs
/*---------------------------------------------*/
.a-leaf-border {
  max-width: 120px;
  -webkit-transform: rotateX(40deg);
  transform: rotateX(40deg);
  position: absolute;
  opacity: 0.2;
}

/*---------------------------------------------*/
/* Experience
/*---------------------------------------------*/
.e-container {
  min-height: 880px;
  overflow: hidden;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2f0743),
    to(#41295a)
  );
  background: linear-gradient(to right, #2f0743, #41295a);
}

@media only screen and (max-width: 767px) {
  .e-container {
    min-height: 800px;
  }
}

.e-container .container {
  padding-top: 30px;
  height: 100%;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 767px) {
  .e-container .container {
    padding-top: 0px;
  }
}

.e-container .container .e-yearSlider {
  position: absolute;
  top: unset;
  right: unset;
  bottom: 60px;
  left: unset;
  width: 100%;
  text-align: center;
  color: #f0f0f0;
}

@media only screen and (max-width: 767px) {
  .e-container .container .e-yearSlider {
    margin-bottom: 20px;
  }
}

/*---------------------------------------------*/
/* Experience Board
/*---------------------------------------------*/
.eb-container {
  position: absolute;
  margin: 30px 30px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(255, 255, 255, 0.623);
  box-shadow: 2px 2px 13px 2px rgba(255, 255, 255, 0.623);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 767px) {
  .eb-container {
    top: 150px;
  }
}

.eb-container .eb-title {
  position: absolute;
  top: -35px;
  right: unset;
  bottom: unset;
  left: 50%;
  width: 80%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  border: 1px solid #e9b7f8;
  background-color: #f5def2;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(199, 199, 199, 0.623);
  box-shadow: 0px 0px 13px 0px rgba(199, 199, 199, 0.623);
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-title {
    z-index: 5;
  }
}

.eb-container .eb-title img {
  position: absolute;
  top: -20px;
  right: unset;
  bottom: unset;
  left: 10px;
  max-width: 110px;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-title img {
    position: absolute;
    top: -20px;
    right: unset;
    bottom: unset;
    left: 8px;
    max-width: 75px;
  }
}

.eb-container .eb-title .eb-company {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  font-style: italic;
  padding: 10px 0px 10px 80px;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-title .eb-company {
    padding: 5px 0px 5px 80px;
    font-size: 16px;
  }
}

.eb-container .eb-title .eb-designation {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: unset;
  letter-spacing: 1px;
  margin: 0;
  padding: 0px 0px 5px 115px;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-title .eb-designation {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    line-height: unset;
    letter-spacing: 0px;
    padding-left: 0px;
  }
}

.eb-container .eb-content {
  position: relative;
  top: 80px;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-content {
    overflow-y: auto;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .eb-container .eb-content {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.eb-container .eb-content .eb-head-sentence {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  padding: 10px 40px;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-content .eb-head-sentence {
    padding: 15px 20px;
    margin: 0;
  }
}

.eb-container .eb-content .eb-jdHeader {
  font-family: "Amita", cursive;
  font-size: 14px;
  font-weight: bold;
  color: black;
  line-height: unset;
  letter-spacing: 1px;
  padding: 5px 40px;
  margin: 0;
  text-decoration: underline;
}

.eb-container .eb-content ul {
  padding: 5px 60px;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-content ul {
    padding: 5px 5px 5px 30px;
  }
}

.eb-container .eb-content ul li {
  list-style: unset;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: black;
  line-height: unset;
  letter-spacing: unset;
}

@media only screen and (min-width: 768px) {
  .eb-container .eb-content ul li {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: black;
    line-height: 20px;
    letter-spacing: unset;
  }
}

.eb-container .eb-footer {
  position: absolute;
  top: unset;
  right: 12px;
  bottom: 5px;
  left: unset;
  text-align: right;
}

.eb-container .eb-footer .eb-location {
  margin: 0;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-footer .eb-location {
    font-size: 12px;
  }
}

.eb-container .eb-footer .eb-time {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: dark-purple;
  line-height: unset;
  letter-spacing: unset;
  color: #6d4799;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .eb-container .eb-footer .eb-time {
    font-size: 16px;
  }
}

/*---------------------------------------------*/
/* YEAR SLIDER
/*---------------------------------------------*/
.ys-container .ys-slider {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  max-width: 1000px;
  height: 15px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 8;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .ys-container .ys-slider {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

.ys-container .ys-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background: #c155e2;
  cursor: pointer;
  z-index: 8;
}

.ys-container .ys-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c155e2;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .ys-container .ys-slider:hover::-webkit-slider-thumb {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(207, 207, 207, 0.795);
    box-shadow: 0px 0px 30px 5px rgba(207, 207, 207, 0.795);
  }
}

.ys-container .ys-ms-logo {
  position: absolute;
  top: -60px;
  right: unset;
  bottom: unset;
  left: unset;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .ys-container .ys-ms-logo {
    position: absolute;
    top: -35px;
    right: unset;
    bottom: unset;
    left: unset;
    width: 25px;
    height: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .ys-container .ys-ms-logo:hover {
    opacity: 1 !important;
  }
}

.ys-container .ys-ms-fromYear {
  position: absolute;
  top: 32px;
  right: unset;
  bottom: unset;
  left: unset;
  color: white;
  font-size: 20px;
  opacity: 0.3;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .ys-container .ys-ms-fromYear {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .ys-container .ys-ms-fromYear:hover {
    opacity: 1 !important;
  }
}

/*---------------------------------------------*/
/* PROJECTS
/*---------------------------------------------*/
.p-container {
  min-height: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(#e0c9fa)
  );
  background: linear-gradient(to bottom, white, #e0c9fa);
}

@media only screen and (max-width: 767px) {
  .p-container {
    overflow: hidden;
  }
}

.p-container .container .row {
  margin-top: 30px;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .p-container .container .row {
    margin-top: 10px;
  }
}

.p-container .container .row .p-pc-container {
  position: relative;
  top: 0px;
  right: unset;
  bottom: unset;
  left: unset;
  height: 450px;
  margin-bottom: 30px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#42275a),
    to(#734b6d)
  );
  background: linear-gradient(to right, #42275a, #734b6d);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px 0px #63035e;
  box-shadow: 0px 0px 8px 0px #63035e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .p-container .container .row .p-pc-container {
    margin: 10px 30px;
    height: auto;
  }
  .p-container .container .row .p-pc-container p,
  .p-container .container .row .p-pc-container div {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .p-container .container .row .p-pc-container:hover::after {
    background-color: rgba(255, 255, 255, 0.15);
  }
  .p-container .container .row .p-pc-container:hover::before {
    background-color: rgba(2, 2, 2, 0.25);
  }
}

.p-container .container .row .p-pc-container::after {
  content: "";
  position: absolute;
  top: 0px;
  right: unset;
  bottom: 0px;
  left: unset;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.p-container .container .row .p-pc-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 50%;
  background-color: rgba(2, 2, 2, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (min-width: 768px) {
  .p-container .container .row .p-pc-container:hover {
    top: -10px;
    -webkit-box-shadow: 10px 15px 20px 3px #460442;
    box-shadow: 10px 15px 20px 3px #460442;
  }
}

.p-container .container .row .p-pc-container img {
  width: 100%;
  resize: both;
}

.p-container .container .row .p-pc-container .p-pc-name {
  padding: 10px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: off-white-v2;
  line-height: unset;
  letter-spacing: unset;
  color: #dfdfdf;
}

.p-container .container .row .p-pc-container .p-pc-des {
  padding: 0px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: unset;
  color: off-white-v2;
  line-height: unset;
  letter-spacing: unset;
  color: #dfdfdf;
}

.p-container .container .row .p-pc-container .p-pc-icon {
  position: absolute;
  top: unset;
  right: unset;
  bottom: 10px;
  left: 20px;
  z-index: 5;
}

.p-container .container .row .p-pc-container .p-pc-icon a,
.p-container .container .row .p-pc-container .p-pc-icon a:link,
.p-container .container .row .p-pc-container .p-pc-icon a:visited,
.p-container .container .row .p-pc-container .p-pc-icon a:active {
  text-decoration: none;
  color: #dfdfdf;
}

.p-container .container .row .p-pc-container .p-pc-icon i {
  font-size: 25px;
  padding-right: 15px;
}

.p-container .container .row .p-pc-container .p-pc-icon i:hover {
  color: white;
}

.p-container .container .p-pt-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

@media only screen and (max-width: 767px) {
  .p-container .container .p-pt-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.p-container .container .p-pt-container .p-pt-ic {
  padding: 5px 10px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-container .container .p-pt-container .p-pt-ic {
    display: none;
  }
}

.p-container .container .p-pt-container .p-pt-ic img {
  border-radius: 6px;
  width: 120px;
  -webkit-box-shadow: 0px 0px 4px 0px #63035e;
  box-shadow: 0px 0px 4px 0px #63035e;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (min-width: 768px) {
  .p-container .container .p-pt-container .p-pt-ic img:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-box-shadow: 6px 6px 10px 1px #460442;
    box-shadow: 6px 6px 10px 1px #460442;
    -webkit-filter: brightness(100%) !important;
    filter: brightness(100%) !important;
    opacity: 1 !important;
  }
}

.p-container .container .p-pt-container .p-pt-vc {
  cursor: pointer;
  position: absolute;
  top: 95px;
  right: unset;
  bottom: unset;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  background-color: #e0c9fa;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(199, 199, 199, 0.623);
  box-shadow: 0px 0px 4px 0px rgba(199, 199, 199, 0.623);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 767px) {
  .p-container .container .p-pt-container .p-pt-vc {
    position: absolute;
    top: -43px;
    right: unset;
    bottom: unset;
    left: -10px;
    margin-top: 10px;
    width: 33px;
  }
}

@media only screen and (min-width: 768px) {
  .p-container .container .p-pt-container .p-pt-vc:hover::before {
    width: 180px;
  }
  .p-container .container .p-pt-container .p-pt-vc:hover p {
    color: #f0f0f0;
  }
}

.p-container .container .p-pt-container .p-pt-vc:active {
  -webkit-box-shadow: inset 0px 0px 4px 0px #3b3a3b;
  box-shadow: inset 0px 0px 4px 0px #3b3a3b;
}

.p-container .container .p-pt-container .p-pt-vc::before {
  content: "";
  position: absolute;
  top: 0px;
  right: unset;
  bottom: 0px;
  left: 0px;
  width: 0px;
  background-color: #6d4799;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.p-container .container .p-pt-container .p-pt-vc i {
  color: #f0f0f0;
  font-size: 14px;
  padding: 10px 10px;
  background-color: #6d4799;
  border-radius: 15px;
  z-index: 2;
}

.p-container .container .p-pt-container .p-pt-vc p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: dark-purple;
  line-height: unset;
  letter-spacing: unset;
  color: #6d4799;
  margin: 0;
  padding: 5px 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .p-container .container .p-pt-container .p-pt-vc p {
    display: none;
  }
}

.p-container .container .pd-container {
  position: relative;
  height: 100%;
}

.p-container .container .pd-container .pd-name {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  padding: 15px 10px;
  margin: 0;
}

.p-container .container .pd-container .pd-des {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: unset;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e4e3ff),
    to(#eac3fa)
  );
  background: linear-gradient(to right, #e4e3ff, #eac3fa);
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 0px #333333;
  box-shadow: inset 0px 0px 4px 0px #333333;
}

.p-container .container .pd-container .pd-detail {
  margin-left: 30px;
}

@media only screen and (max-width: 767px) {
  .p-container .container .pd-container .pd-detail {
    margin: 0 20px;
  }
}

.p-container .container .pd-container .pd-detail li {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: unset;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  margin-bottom: 15px;
  list-style-type: square;
}

.p-container .container .pd-container .pd-tech {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  line-height: unset;
  letter-spacing: unset;
  padding: 5px 0px;
  margin: 0;
}

.p-container .container .pd-container .pd-techLogo {
  width: 40px;
  margin: 0px 10px 10px 0px;
}

.p-container .container .pd-container .pd-devices {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-container .container .pd-container .pd-devices {
    padding: 10px 0;
  }
}

.p-container .container .pd-container .pd-devices img {
  position: relative;
  top: 50%;
  right: unset;
  bottom: unset;
  left: unset;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 47vw;
  max-width: 1000px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 767px) {
  .p-container .container .pd-container .pd-devices img {
    width: 100%;
  }
}

.pd-view {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  overflow: hidden;
}

.pd-view a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 10px 10px 0px;
  overflow: hidden;
  padding: 5px 5px;
  background-color: #e0c9fa;
  border-radius: 10px;
  color: #6d4799;
}

.pd-view a:link,
.pd-view a:visited,
.pd-view a:active {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .pd-view a:hover::before {
    height: 40px;
  }
  .pd-view a:hover i,
  .pd-view a:hover p {
    color: #f0f0f0;
  }
}

.pd-view a::before {
  content: "";
  position: absolute;
  top: unset;
  right: unset;
  bottom: 0px;
  left: 0px;
  width: 130px;
  height: 0px;
  background-color: #6d4799;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.pd-view a i {
  padding: 4px 5px;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pd-view a p {
  margin: 0;
  padding-right: 4px;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*---------------------------------------------*/
/* CONTACT
/*---------------------------------------------*/
.c-container {
  min-height: 350px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e0c9fa),
    to(#655c6e)
  );
  background: linear-gradient(to bottom, #e0c9fa, #655c6e);
  overflow: hidden;
  position: relative;
}

.c-container .c-btn-back {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: 50%;
  margin-top: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 20px;
  background-color: #42275a;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  border: 3px solid #42275a;
}

@-webkit-keyframes borderRun {
  from {
    border: 4px solid #b99cf3;
  }
  to {
    border: 4px solid #a324ec;
  }
}

@keyframes borderRun {
  from {
    border: 4px solid #b99cf3;
  }
  to {
    border: 4px solid #a324ec;
  }
}

@media only screen and (min-width: 768px) {
  .c-container .c-btn-back:hover {
    -webkit-transform: translateX(-50%) translateY(-5px);
    transform: translateX(-50%) translateY(-5px);
    -webkit-box-shadow: 5px 4px 13px 1px #2f0743;
    box-shadow: 5px 4px 13px 1px #2f0743;
  }
  .c-container .c-btn-back:hover::before {
    -webkit-animation: borderRun 2s infinite alternate;
    animation: borderRun 2s infinite alternate;
  }
}

.c-container .c-btn-back::before {
  position: absolute;
  top: -8px;
  right: unset;
  bottom: unset;
  left: -8px;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-container .c-btn-back i {
  position: relative;
  top: 42%;
  right: unset;
  bottom: unset;
  left: unset;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

.c-container .c-c-i {
  position: absolute;
  top: 140px;
  right: unset;
  bottom: unset;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-container .c-c-i {
    top: 120px;
  }
}

.c-container .c-c-i i {
  position: relative;
  cursor: pointer;
  font-size: 30px;
  margin: 0 30px;
  padding: 20px 20px;
  background-color: #42275a;
  color: #dfdfdf;
  -webkit-box-shadow: 0px 0px 1px 3px #2f0743;
  box-shadow: 0px 0px 1px 3px #2f0743;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 767px) {
  .c-container .c-c-i i {
    margin: 0 20px;
    padding: 20px 20px;
  }
}

.c-container .c-c-i i::after {
  position: absolute;
  top: -30px;
  right: unset;
  bottom: unset;
  left: -70px;
  content: "";
  width: 30px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.404);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  .c-container .c-c-i i:active {
    -webkit-box-shadow: inset 0px 0px 1px 3px #291235;
    box-shadow: inset 0px 0px 1px 3px #291235;
  }
  .c-container .c-c-i i:hover::after {
    left: 80px;
  }
}

.c-container .c-logo,
.c-container .c-update {
  position: absolute;
  top: unset;
  right: unset;
  bottom: 65px;
  left: 50%;
  position: absolute;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.c-container .c-logo .nav-header,
.c-container .c-update .nav-header {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  cursor: pointer;
}

.c-container .c-logo .nav-header h6,
.c-container .c-update .nav-header h6 {
  color: #f0f0f0;
  font-family: "Charmonman", cursive;
  font-size: 35px;
  font-weight: bold;
  color: off-white;
  line-height: unset;
  letter-spacing: unset;
  color: #f0f0f0;
  margin: 0;
}

.c-container .c-logo .nav-header h6.nav-h,
.c-container .c-update .nav-header h6.nav-h {
  position: absolute;
  top: 18px;
  right: unset;
  bottom: unset;
  left: 4px;
  color: #c078d6;
}

@media only screen and (max-width: 767px) {
  .c-container .c-logo {
    bottom: 90px;
  }
}

.c-container .c-update {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: white;
  line-height: unset;
  letter-spacing: unset;
  text-align: center;
  bottom: 5px;
}
/*# sourceMappingURL=style.css.map */
