$theme-colors: (
  "nav-bg": #1c1b1b,
  "sn-bg": #333333,
  "slide-bg": #d3d3d3,
  "sn-border": #888787,
  "off-white": #f0f0f0,
  "off-white-v2": #dfdfdf,
  "light-purple": #e0c9fa,
  "hover-purple": rgb(174, 113, 192),
  "dark-purple": #6d4799,
  "btn-active-shadow": rgba(73, 73, 73, 0.74),
  "light-shadow": rgba(255, 255, 255, 0.623),
  "eb-shadow": rgba(199, 199, 199, 0.623),
  "p-card-shadow": #63035e,
  "p-card-up-shadow": #460442,
  "eb-title-border": rgb(233, 183, 248),
  "slider-thumb": rgb(193, 85, 226),
  "eb-bg": rgb(245, 222, 242),
  "github": #24292e,
  "linkedin": #0077b5,
  "facebook": #3b5998,
  "st-bright-color": rgb(236, 236, 236)
);

$main-purple: rgb(192, 120, 214);

// Section Title
$st-bright-color: rgb(236, 236, 236);
