@keyframes navSlideDown {
  from {
    height: 0px;
  }

  to {
    height: 320px;
  }
}

@keyframes navSlideUp {
  from {
    height: 320px;
  }

  to {
    height: 0px;
  }
}

@keyframes borderRun {
  from {
    border: 4px solid #b99cf3;
  }
  to {
    border: 4px solid #a324ec;
  }
}
