* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.media {
  padding-left: 15%;
  width: 90%;
}

.media i {
  padding-right: 10px;
  font-size: 250px;
}

.media-body {
  margin-top: 20px;
  text-align: justify;
}

.media-body h4 {
  font-size: 30px;
}

.header h1 {
  margin-top: 8%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 100px;
  font-family: Charmonman;
}

.header ul {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid;
}

.header ul a {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline ;
  font-family: Montserrat;
}

.header ul a:link, .header ul a:visited {
  text-decoration: none;
  color: #2d3436;
}

.header ul a:hover, .header ul a:active {
  text-decoration: none;
  color: antiquewhite;
}
.index img {
  margin-top: 150px;
}

.about-edu h2 {
  font-weight: bold;
  font-family: Montserrat;
}