@import "../../../../style/colors.module";
@import "../../../../style/mixins.module";

:local {
  .metaContainer {
    position: relative;
    @include display(flex, center);

    @include mq(tablet, max) {
      justify-content: start;
    }
  }

  .thumbnailSlider {
    padding: 5px 10px;
    position: relative;

    @include mq(tablet, max) {
      display: none;
    }
  }

  .thumbnailImage {
    border-radius: 6px;
    width: 120px;
    box-shadow: 0px 0px 4px 0px $p-card-shadow;
    cursor: pointer;
    transition: 0.4s;
    filter: brightness(50%) blur(0.7px);
    opacity: 0.5;

    @include mq(tablet, min) {
      &:hover {
        transform: translateY(-4px);
        box-shadow: 6px 6px 10px 1px $p-card-up-shadow;
        filter: brightness(100%) !important;
        opacity: 1 !important;
      }
    }
  }

  .selectedImage {
    filter: brightness(100%) blur(0px);
    opacity: 1;
  }

  .backToBoardButton {
    @include pos(absolute, -70px, $left: 0px);
    cursor: pointer;
    display: flex;
    width: 190px;
    background-color: $light-purple;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px $eb-shadow;
    overflow: hidden;
    transition: 0.5s;

    @include mq(desktop, max) {
      @include pos(absolute, -70px, $left: 0px);
    }

    @include mq(tablet, max) {
      @include pos(absolute, -43px, $left: 0px);
      margin-top: 10px;
      width: 33px;
    }

    @include mq(tablet, min) {
      &:hover::before {
        width: 200px;
      }

      &:hover p {
        color: $off-white;
      }
    }

    &:active {
      box-shadow: inset 0px 0px 4px 0px #3b3a3b;
    }

    &::before {
      content: "";
      @include pos(absolute, 0px, unset, 0px, 0px);
      width: 0px;
      background-color: $dark-purple;
      border-radius: 15px;
      transition: 0.5s;
    }

    i {
      color: $off-white;
      font-size: 14px;
      padding: 10px 10px;
      background-color: $dark-purple;
      border-radius: 15px;
      z-index: 2;
    }

    p {
      @include fontFam(monte, 16px, bold, $dark-purple);
      margin: 0;
      padding: 5px 10px;
      transition: 0.8s;
      z-index: 2;

      @include mq(tablet, max) {
        display: none;
      }
    }
  }

  .projectDetailContainer {
    position: relative;
    height: 100%;
  }

  .detailTitle {
    @include fontFam(monte, 30px, bold, black);
    padding: 15px 10px;
    margin: 0;
  }

  .detailDescription {
    @include fontFam(monte, 13px, unset, black);
    background: linear-gradient(to right, #e4e3ff, #eac3fa);
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 0px $sn-bg;
  }

  .detailView {
    position: relative;
    display: flex;
    margin: 10px 0px;
    overflow: hidden;
  }

  .viewLink {
    position: relative;
    display: flex;
    margin: 10px 10px 10px 0px;
    overflow: hidden;
    padding: 5px 5px;
    background-color: #e0c9fa;
    border-radius: 10px;
    color: $dark-purple;

    &:link,
    &:visited,
    &:active {
      text-decoration: none;
    }

    @include mq(tablet, min) {
      &:hover::before {
        height: 40px;
      }

      &:hover i,
      &:hover p {
        color: $off-white;
      }
    }

    &::before {
      content: "";
      @include pos(absolute, unset, unset, 0px, 0px);
      width: 130px;
      height: 0px;
      background-color: $dark-purple;
      transition: 0.6s;
    }

    i {
      padding: 4px 5px;
      z-index: 2;
      transition: 0.5s;
    }

    p {
      margin: 0;
      padding-right: 4px;
      z-index: 2;
      transition: 0.5s;
    }
  }

  .detailList {
    margin-left: 30px;

    @include mq(tablet, max) {
      margin: 0 20px;
    }

    li {
      @include fontFam(monte, 13px, unset, black);
      margin-bottom: 15px;
      list-style-type: square;
    }
  }

  .detailTech {
    @include fontFam(monte, 18px, bold, black);
    padding: 5px 0px;
    margin: 0;
  }

  .detailTechLogoContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .detailTechLogoWrapper {
    display: inline;
  }

  .detailTechLogo {
    width: 40px;
    margin: 0px 10px 10px 0px;
  }

  .detailDevices {
    width: 100%;
    height: 100%;
    position: relative;

    @include mq(tablet, max) {
      padding: 10px 0;
    }

    img {
      @include pos(relative, 50%);
      transform: translateY(-50%);
      width: 47vw;
      max-width: 1000px;
      transition: 1s;

      @include mq(tablet, max) {
        width: 100%;
      }
    }
  }
}
