@import "../../style/colors.module";
@import "../../style/mixins.module";

:local {
  .container {
    background-image: url("../../style/img/about_wall.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    overflow: hidden;

    @include mq(tablet, max) {
      height: auto;
      background-position-y: 30%;
    }
  }

  .row {
    padding-top: 90px;

    @include mq(tablet, max) {
      padding-top: 0px;
    }
  }

  .avatar {
    text-align: right;

    @include mq(tablet, max) {
      text-align: center;
    }

    img {
      width: 60%;
      max-width: 270px;
      border-radius: 50%;
      text-align: right;
      margin: 12px 0px;
    }
  }

  .text {
    @include mq(tablet, max) {
      text-align: center;
      padding: 20px 40px;
    }
  }

  .helloText {
    @include fontFam(unset, 30px, 500, black);
  }

  .briefIntroText {
    @include fontFam(monte, 15px, unset, black);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
  }

  .currentFocusText {
    font-weight: bold;

    span {
      @include fontFam(monte, 15px, 100, black);
    }
  }

  .socialLink {
    a,
    a:active,
    a:link,
    a:visited {
      text-decoration: none;
      color: black;
    }

    i {
      font-size: 30px;
      padding-right: 10px;
      opacity: 0.6;
      cursor: pointer;

      &.githubIcon:hover {
        opacity: 1;
        color: $github;
      }

      &.linkedinIcon:hover {
        opacity: 1;
        color: $linkedin;
      }

      &.facebookIcon:hover {
        opacity: 1;
        color: $facebook;
      }
    }
  }
}
