@import "../../../../style/colors.module";
@import "../../../../style/mixins.module";

:local {
  .container {
    position: absolute;
    margin: 30px 30px;
    height: 400px;
    background-color: $off-white;
    border-radius: 10px;
    box-shadow: 2px 2px 13px 2px $light-shadow;
    transition: 0.5s;

    @include mq(tablet, max) {
      top: 150px;
    }
  }

  .title {
    @include pos(absolute, -35px, $left: 50%);
    width: 80%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 10px;
    border: 1px solid $eb-title-border;
    background-color: $eb-bg;
    box-shadow: 0px 0px 13px 0px $eb-shadow;

    @include mq(tablet, max) {
      z-index: 5;
    }
  }

  .companyLogo {
    @include pos(absolute, -20px, $left: 10px);
    max-width: 110px;

    @include mq(tablet, max) {
      @include pos(absolute, -20px, $left: 8px);
      max-width: 75px;
    }
  }

  .companyName {
    @include fontFam(monte, 22px, 100);
    font-style: italic;
    padding: 10px 0px 10px 80px;
    margin: 0;

    @include mq(tablet, max) {
      padding: 5px 0px 5px 80px;
      font-size: 16px;
    }
  }

  .occupation {
    @include fontFam(monte, 16px, bold, $letterSpacing: 1px);
    margin: 0;
    padding: 0px 0px 5px 115px;

    @include mq(tablet, max) {
      @include fontFam(monte, 14px, bold, $letterSpacing: 0px);
      padding-left: 0px;
    }
  }

  .contentContainer {
    position: relative;
    top: 80px;

    @include mq(tablet, max) {
      overflow-y: auto;
      transform: translateY(-20px);

      @include mq(phone, min) {
        transform: translateY(-30px);
      }
    }
  }

  .headerSentence {
    @include fontFam(monte, 14px, 100);
    padding: 10px 40px;
    margin: 0;

    @include mq(tablet, max) {
      padding: 15px 20px;
      margin: 0;
    }
  }

  .jdHeader {
    @include fontFam(amita, 14px, bold, $letterSpacing: 1px);
    padding: 5px 40px;
    margin: 0;
    text-decoration: underline;
  }

  .jdDetail {
    padding: 5px 60px;

    @include mq(tablet, max) {
      padding: 5px 5px 5px 30px;
    }

    li {
      list-style: unset;
      @include fontFam(monte, 13px, 100);

      @include mq(tablet, min) {
        @include fontFam(monte, 14px, 100, black, 20px);
      }
    }
  }

  .footer {
    @include pos(absolute, unset, 12px, 5px);
    text-align: right;
  }

  .location {
    margin: 0;
    font-style: italic;

    @include mq(tablet, max) {
      font-size: 12px;
    }
  }

  .time {
    @include fontFam(monta, 20px, bold, $dark-purple);
    margin: 0;

    @include mq(tablet, max) {
      font-size: 16px;
    }
  }
}
